In [100]:
import pandas as pd

# pd.read_html('https://coinmarketcap.com/')[0]

WORKSHOP by ultimatepython
ที่ต้องใช้

1.ดาวโหลด chromedriver_win32.zip 

​https://chromedriver.chromium.org/dow...

ขั้นตอน
1.รับลิ้ง 
2เปิดเว็บ set100
3.คลิกเองเพื่อแสดงผลครบทุกหุ้น
4.ดึง html ออกมา
5.สกัดข้อมูลจาก html
 5.1 สกัดตาราง
 5.2 ตั้งชื่อ column
 5.3 set_index()
6.ส่งตารางที่จัดการแล้ว ออกมา
7.รับตารางมา
8.สร้างที่เก็บข้อมูลแต่ละหุ้น
9.ทำซ้ำกับทุกหลักทรัพย์
 9.1 รับชื่อหลักทรัพย์ไว้ในตัวแปร stock
 9.2 สร้างลิ้งด้วยการรวม url กับ ตัวแปร stock
 9.3 เปิดเว็บที่มีข้อมูล 
 9.4 เก็บตารางลง dictionary
10.

In [101]:
import pandas as pd
from selenium import webdriver

In [104]:
driver = webdriver.Chrome(r'D:\Python lecture\chromedriver.exe')
driver.get('https://www.set.or.th/th/market/index/set100/overview')

C:\Users\ACER NiTRO 5\AppData\Local\Temp\ipykernel_6652\1023488022.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'D:\Python lecture\chromedriver.exe')

In [105]:
data = driver.page_source

In [106]:
data_df = pd.read_html(data)[2]
data_df

,หลักทรัพย์ (Click to sort Ascending),เปิด (Click to sort Ascending),สูงสุด (Click to sort Ascending),ต่ำสุด (Click to sort Ascending),ล่าสุด (Click to sort Ascending),เปลี่ยนแปลง (Click to sort Ascending),% เปลี่ยนแปลง (Click to sort Ascending),เสนอซื้อ (Click to sort Ascending),เสนอขาย (Click to sort Ascending),ปริมาณ (หุ้น) (Click to sort Ascending),มูลค่า ('000 บาท) (Click to sort Ascending)
0,ACE,2.70,2.72,2.68,2.70,0.02,0.75,2.68,2.70,12529531,33854.07
1,ADVANC,188.00,190.00,187.50,190.00,3.00,1.60,190.00,190.50,7922992,1499378.55
2,AEONTS,159.50,161.00,157.50,160.00,1.00,0.63,160.00,160.50,192641,30687.86
3,AMATA,19.30,19.40,18.90,19.10,-0.20,-1.04,19.10,19.20,5035096,96049.81
4,AOT,74.50,74.50,73.50,74.00,-0.50,-0.67,73.75,74.00,25501398,1883592.44
...,...,...,...,...,...,...,...,...,...,...,...
95,TTA,8.05,8.15,7.95,8.05,0.00,0.00,8.05,8.10,6852853,55276.87
96,TTB,1.37,1.38,1.35,1.36,0.00,0.00,1.36,1.37,92258723,125952.80
97,TU,17.00,17.40,16.90,17.20,0.20,1.18,17.10,17.20,27325604,469978.42
98,VGI,4.16,4.20,4.06,4.12,-0.08,-1.90,4.10,4.12,41301788,170300.19
99,WHA,3.80,3.86,3.78,3.82,0.04,1.06,3.82,3.84,69600426,265981.43

In [107]:
clean_column =[]
for x in data_df.columns:
    clean_column.append(x.replace(' (Click to sort Ascending)',''))

In [108]:
clean_column

['หลักทรัพย์ ',
 'เปิด ',
 'สูงสุด ',
 'ต่ำสุด ',
 'ล่าสุด ',
 'เปลี่ยนแปลง ',
 '% เปลี่ยนแปลง ',
 'เสนอซื้อ ',
 'เสนอขาย ',
 'ปริมาณ (หุ้น) ',
 "มูลค่า ('000 บาท) "]

In [109]:
data_df.columns = clean_column
data_df

,หลักทรัพย์,เปิด,สูงสุด,ต่ำสุด,ล่าสุด,เปลี่ยนแปลง,% เปลี่ยนแปลง,เสนอซื้อ,เสนอขาย,ปริมาณ (หุ้น),มูลค่า ('000 บาท)
0,ACE,2.70,2.72,2.68,2.70,0.02,0.75,2.68,2.70,12529531,33854.07
1,ADVANC,188.00,190.00,187.50,190.00,3.00,1.60,190.00,190.50,7922992,1499378.55
2,AEONTS,159.50,161.00,157.50,160.00,1.00,0.63,160.00,160.50,192641,30687.86
3,AMATA,19.30,19.40,18.90,19.10,-0.20,-1.04,19.10,19.20,5035096,96049.81
4,AOT,74.50,74.50,73.50,74.00,-0.50,-0.67,73.75,74.00,25501398,1883592.44
...,...,...,...,...,...,...,...,...,...,...,...
95,TTA,8.05,8.15,7.95,8.05,0.00,0.00,8.05,8.10,6852853,55276.87
96,TTB,1.37,1.38,1.35,1.36,0.00,0.00,1.36,1.37,92258723,125952.80
97,TU,17.00,17.40,16.90,17.20,0.20,1.18,17.10,17.20,27325604,469978.42
98,VGI,4.16,4.20,4.06,4.12,-0.08,-1.90,4.10,4.12,41301788,170300.19
99,WHA,3.80,3.86,3.78,3.82,0.04,1.06,3.82,3.84,69600426,265981.43

In [110]:
data_df = data_df.set_index('หลักทรัพย์ ')
data_df

,เปิด,สูงสุด,ต่ำสุด,ล่าสุด,เปลี่ยนแปลง,% เปลี่ยนแปลง,เสนอซื้อ,เสนอขาย,ปริมาณ (หุ้น),มูลค่า ('000 บาท)
หลักทรัพย์,,,,,,,,,,
ACE,2.70,2.72,2.68,2.70,0.02,0.75,2.68,2.70,12529531,33854.07
ADVANC,188.00,190.00,187.50,190.00,3.00,1.60,190.00,190.50,7922992,1499378.55
AEONTS,159.50,161.00,157.50,160.00,1.00,0.63,160.00,160.50,192641,30687.86
AMATA,19.30,19.40,18.90,19.10,-0.20,-1.04,19.10,19.20,5035096,96049.81
AOT,74.50,74.50,73.50,74.00,-0.50,-0.67,73.75,74.00,25501398,1883592.44
...,...,...,...,...,...,...,...,...,...,...
TTA,8.05,8.15,7.95,8.05,0.00,0.00,8.05,8.10,6852853,55276.87
TTB,1.37,1.38,1.35,1.36,0.00,0.00,1.36,1.37,92258723,125952.80
TU,17.00,17.40,16.90,17.20,0.20,1.18,17.10,17.20,27325604,469978.42
VGI,4.16,4.20,4.06,4.12,-0.08,-1.90,4.10,4.12,41301788,170300.19
WHA,3.80,3.86,3.78,3.82,0.04,1.06,3.82,3.84,69600426,265981.43

In [115]:
for i in range(100):
    print(data_df.index[i])

ACE
ADVANC
AEONTS
AMATA
AOT
AP
AWC
BAM
BANPU
BBL
BCH
BCP
BCPG
BDMS
BEC
BEM
BGRIM
BH
BLA
BTS
CBG
CENTEL
CHG
CK
CKP
COM7
CPALL
CPF
CPN
CRC
DOHOME
DTAC
EA
EGCO
EPG
ESSO
FORTH
GLOBAL
GPSC
GULF
GUNKUL
HANA
HMPRO
INTUCH
IRPC
IVL
JMART
JMT
KBANK
KCE
KEX
KKP
KTB
KTC
LH
MAJOR
MEGA
MINT
MTC
ONEE
OR
ORI
OSP
PLANB
PSL
PTG
PTT
PTTEP
PTTGC
QH
RATCH
RBF
RCL
SAWAD
SCB
SCC
SCGP
SINGER
SPALI
SPRC
STA
STARK
STEC
STGT
SUPER
SYNEX
TASCO
TCAP
THANI
TIDLOR
TIPH
TISCO
TOP
TQM
TRUE
TTA
TTB
TU
VGI
WHA

tactic แทนคำใน url ด้วยตัวแปร stock

In [11]:
# url = 'https://www.set.or.th/th/market/product/stock/quote/'+stock+'/financial-statement/company-highlights'

In [12]:
driver.get(url)
stock_data = driver.page_source
a_df = pd.read_html(stock_data)[0]
b_df = pd.read_html(stock_data)[1]

In [13]:
all_stock_dict = {}
all_stock_dict[stock] = [a_df,b_df]
all_stock_dict

{'ADVANC': [           งวดงบการเงิน ณ วันที่  งบปี 2561 31 ธ.ค. 2561  \
  0        บัญชีทางการเงินที่สำคัญ                     NaN
  1                   สินทรัพย์รวม               290504.99
  2                     หนี้สินรวม               232836.40
  3              ส่วนของผู้ถือหุ้น                57521.04
  4     มูลค่าหุ้นที่เรียกชำระแล้ว                 2973.10
  5                      รายได้รวม               170716.67
  6   กำไร (ขาดทุน) จากกิจกรรมอื่น                   -4.34
  7                      กำไรสุทธิ                29682.18
  8              กำไรต่อหุ้น (บาท)                    9.98
  9    อัตราส่วนทางการเงินที่สำคัญ                     NaN
  10                       ROA (%)                   14.20
  11                       ROE (%)                   55.05
  12            อัตรากำไรสุทธิ (%)                   17.41

      งบปี 2562 31 ธ.ค. 2562  งบปี 2563 31 ธ.ค. 2563  งบปี 2564 31 ธ.ค. 2564  \
  0                      NaN                     NaN                     NaN
  1                289669.12               350170.58               356221.74
  2                220274.95               274481.21               274397.22
  3                 69266.10                75563.98                81698.75
  4                  2973.18                 2973.55                 2973.93
  5                181740.18               173720.31               182605.54
  6                   222.54                   69.89                 -786.32
  7                 31189.57                27434.36                26922.15
  8                    10.49                    9.23                    9.05
  9                      NaN                     NaN                     NaN
  10                   14.54                   12.02                   10.91
  11                   49.20                   37.88                   34.24
  12                   17.16                   15.79                   14.74

      ไตรมาส 1/2565 31 มี.ค. 2565
  0                           NaN
  1                     355783.44
  2                     280046.43
  3                      75611.10
  4                       2973.93
  5                      45488.15
  6                        -58.02
  7                       6310.84
  8                          2.12
  9                           NaN
  10                        10.61
  11                        36.14
  12                        13.88  ,
                    ค่าสถิติสำคัญ ณ วันที่  28 ธ.ค. 2561  30 ธ.ค. 2562  \
  0                       ราคาล่าสุด (บาท)        172.50        213.00
  1  มูลค่าหลักทรัพย์ตามราคาตลาด (ล้านบาท)     512858.94     633287.05
  2  วันที่ของงบการเงินที่ใช้คำนวณค่าสถิติ  30 ก.ย. 2561  30 ก.ย. 2562
  3                             P/E (เท่า)         16.79         20.45
  4                            P/BV (เท่า)         10.12         10.22
  5        มูลค่าหุ้นทางบัญชีต่อหุ้น (บาท)         17.04         20.84
  6           อัตราส่วนเงินปันผลตอบแทน (%)          4.10          3.32

     30 ธ.ค. 2563  30 ธ.ค. 2564   27 พ.ค. 2565
  0        176.00        230.00         218.00
  1     523345.56     684002.93      648315.82
  2  30 ก.ย. 2563  30 ก.ย. 2564  31 มี.ค. 2565
  3         19.15         25.13          24.38
  4          7.64          9.15           8.57
  5         23.04         25.12          25.42
  6          4.17          3.01           3.53  ]}

In [127]:
for stock in data_df.index:
    print(stock.split()[0])

ACE
ADVANC
AEONTS
AMATA
AOT
AP
AWC
BAM
BANPU
BBL
BCH
BCP
BCPG
BDMS
BEC
BEM
BGRIM
BH
BLA
BTS
CBG
CENTEL
CHG
CK
CKP
COM7
CPALL
CPF
CPN
CRC
DOHOME
DTAC
EA
EGCO
EPG
ESSO
FORTH
GLOBAL
GPSC
GULF
GUNKUL
HANA
HMPRO
INTUCH
IRPC
IVL
JMART
JMT
KBANK
KCE
KEX
KKP
KTB
KTC
LH
MAJOR
MEGA
MINT
MTC
ONEE
OR
ORI
OSP
PLANB
PSL
PTG
PTT
PTTEP
PTTGC
QH
RATCH
RBF
RCL
SAWAD
SCB
SCC
SCGP
SINGER
SPALI
SPRC
STA
STARK
STEC
STGT
SUPER
SYNEX
TASCO
TCAP
THANI
TIDLOR
TIPH
TISCO
TOP
TQM
TRUE
TTA
TTB
TU
VGI
WHA

โปรเจ็คสมบูรณ์

In [1]:
import pandas as pd
from selenium import webdriver

In [128]:
driver = webdriver.Chrome(r'D:\Python lecture\chromedriver.exe')
driver.get('https://www.set.or.th/th/market/index/set100/overview')
data = driver.page_source
data_df = pd.read_html(data)[2]
clean_column =[]
for x in data_df.columns:
    clean_column.append(x.replace(' (Click to sort Ascending)',''))
data_df.columns = clean_column
data_df = data_df.set_index('หลักทรัพย์ ')
data_df

C:\Users\ACER NiTRO 5\AppData\Local\Temp\ipykernel_6652\366497680.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'D:\Python lecture\chromedriver.exe')

,เปิด,สูงสุด,ต่ำสุด,ล่าสุด,เปลี่ยนแปลง,% เปลี่ยนแปลง,เสนอซื้อ,เสนอขาย,ปริมาณ (หุ้น),มูลค่า ('000 บาท)
หลักทรัพย์,,,,,,,,,,
ACE,2.68,2.70,2.68,2.68,-0.02,-0.74,2.68,2.70,3088302,8280.81
ADVANC,189.50,190.00,188.50,189.00,-1.00,-0.53,189.00,189.50,1178909,222825.42
AEONTS,160.00,161.00,159.50,159.50,-0.50,-0.31,159.50,160.00,33401,5353.31
AMATA,19.10,19.10,18.80,19.00,-0.10,-0.52,18.90,19.00,1956969,36929.36
AOT,73.75,74.50,73.50,74.25,0.25,0.34,74.25,74.50,8042207,595050.03
...,...,...,...,...,...,...,...,...,...,...
TTA,8.05,8.15,8.05,8.15,0.10,1.24,8.10,8.15,1316002,10664.18
TTB,1.37,1.37,1.35,1.35,-0.01,-0.74,1.35,1.36,14608500,19847.85
TU,17.20,17.30,17.10,17.20,0.00,0.00,17.20,17.30,5925857,102181.51
VGI,4.12,4.14,4.06,4.14,0.02,0.49,4.12,4.14,6504710,26708.27
WHA,3.82,3.84,3.78,3.82,0.00,0.00,3.82,3.84,20038680,76219.85

In [129]:
import time

In [131]:
all_stock_dict = {}
driver = webdriver.Chrome(r'D:\Python lecture\chromedriver.exe')


for stock in data_df.index:
    stock = stock.split()[0]
    url = 'https://www.set.or.th/th/market/product/stock/quote/'+stock+'/financial-statement/company-highlights'
    driver.get(url)
    time.sleep(1)
    stock_data = driver.page_source
    a_df = pd.read_html(stock_data)[0]
    b_df = pd.read_html(stock_data)[1]
    all_stock_dict[stock] = [a_df,b_df]

C:\Users\ACER NiTRO 5\AppData\Local\Temp\ipykernel_6652\110208773.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'D:\Python lecture\chromedriver.exe')

In [133]:
all_stock_dict.keys()

dict_keys(['ACE', 'ADVANC', 'AEONTS', 'AMATA', 'AOT', 'AP', 'AWC', 'BAM', 'BANPU', 'BBL', 'BCH', 'BCP', 'BCPG', 'BDMS', 'BEC', 'BEM', 'BGRIM', 'BH', 'BLA', 'BTS', 'CBG', 'CENTEL', 'CHG', 'CK', 'CKP', 'COM7', 'CPALL', 'CPF', 'CPN', 'CRC', 'DOHOME', 'DTAC', 'EA', 'EGCO', 'EPG', 'ESSO', 'FORTH', 'GLOBAL', 'GPSC', 'GULF', 'GUNKUL', 'HANA', 'HMPRO', 'INTUCH', 'IRPC', 'IVL', 'JMART', 'JMT', 'KBANK', 'KCE', 'KEX', 'KKP', 'KTB', 'KTC', 'LH', 'MAJOR', 'MEGA', 'MINT', 'MTC', 'ONEE', 'OR', 'ORI', 'OSP', 'PLANB', 'PSL', 'PTG', 'PTT', 'PTTEP', 'PTTGC', 'QH', 'RATCH', 'RBF', 'RCL', 'SAWAD', 'SCB', 'SCC', 'SCGP', 'SINGER', 'SPALI', 'SPRC', 'STA', 'STARK', 'STEC', 'STGT', 'SUPER', 'SYNEX', 'TASCO', 'TCAP', 'THANI', 'TIDLOR', 'TIPH', 'TISCO', 'TOP', 'TQM', 'TRUE', 'TTA', 'TTB', 'TU', 'VGI', 'WHA'])

ลองใช้

In [225]:
all_stock_dict['ACE'][0]

,0,2561,2562,2563,2564,2565
0,บัญชีทางการเงินที่สำคัญ,NaN,NaN,NaN,NaN,NaN
1,สินทรัพย์รวม,13886.74,14145.18,16429.69,18740.20,19758.94
2,หนี้สินรวม,8315.10,3352.14,4436.86,5371.62,5514.60
3,ส่วนของผู้ถือหุ้น,5571.64,10793.04,11992.83,13315.33,14186.55
4,มูลค่าหุ้นที่เรียกชำระแล้ว,4579.00,5088.00,5088.00,5088.00,5088.00
5,รายได้รวม,4848.94,5088.17,6038.96,5739.67,5086.59
6,กำไร (ขาดทุน) จากกิจกรรมอื่น,-10.04,-103.51,6.67,167.96,184.95
7,กำไรสุทธิ,546.57,815.31,1507.64,1505.68,1087.95
8,กำไรต่อหุ้น (บาท),0.06,0.09,0.15,0.15,0.11
9,อัตราส่วนทางการเงินที่สำคัญ,NaN,NaN,NaN,NaN,NaN
10,ROA (%),7.52,8.74,10.84,9.95,9.02
11,ROE (%),9.81,9.96,13.23,11.90,10.73
12,อัตรากำไรสุทธิ (%),11.27,16.02,24.97,26.23,21.38

In [226]:
all_stock_dict['ADVANC'][0]

,0,2561,2562,2563,2564,2565
0,บัญชีทางการเงินที่สำคัญ,NaN,NaN,NaN,NaN,NaN
1,สินทรัพย์รวม,290504.99,289669.12,350170.58,356221.74,345370.17
2,หนี้สินรวม,232836.40,220274.95,274481.21,274397.22,267156.57
3,ส่วนของผู้ถือหุ้น,57521.04,69266.10,75563.98,81698.75,78086.71
4,มูลค่าหุ้นที่เรียกชำระแล้ว,2973.10,2973.18,2973.55,2973.93,2974.21
5,รายได้รวม,170716.67,181740.18,173720.31,182605.54,137383.79
6,กำไร (ขาดทุน) จากกิจกรรมอื่น,-4.34,222.54,69.89,-786.32,-639.42
7,กำไรสุทธิ,29682.18,31189.57,27434.36,26922.15,18647.99
8,กำไรต่อหุ้น (บาท),9.98,10.49,9.23,9.05,6.27
9,อัตราส่วนทางการเงินที่สำคัญ,NaN,NaN,NaN,NaN,NaN
10,ROA (%),14.20,14.54,12.02,10.91,10.47
11,ROE (%),55.05,49.20,37.88,34.24,33.39
12,อัตรากำไรสุทธิ (%),17.41,17.16,15.79,14.74,13.58

In [242]:
all_stock_dict['AOT'][1]

,ค่าสถิติสำคัญ ณ วันที่,28 ธ.ค. 2561,30 ธ.ค. 2562,30 ธ.ค. 2563,30 ธ.ค. 2564,18 พ.ย. 2565
0,ราคาล่าสุด (บาท),64.25,74.25,62.25,61.00,74.00
1,มูลค่าหลักทรัพย์ตามราคาตลาด (ล้านบาท),917856.23,1060713.23,889284.83,871427.70,1057141.80
2,วันที่ของงบการเงินที่ใช้คำนวณค่าสถิติ,30 ก.ย. 2561,30 ก.ย. 2562,30 ก.ย. 2563,30 ก.ย. 2564,30 มิ.ย. 2565
3,P/E (เท่า),36.47,42.38,205.82,-,-
4,P/BV (เท่า),6.38,6.89,6.25,7.76,10.31
5,มูลค่าหุ้นทางบัญชีต่อหุ้น (บาท),10.07,10.77,9.96,7.86,7.18
6,อัตราส่วนเงินปันผลตอบแทน (%),1.63,1.41,0.31,-,-

In [139]:
for key in all_stock_dict.keys():
    try:
        all_stock_dict[key][0].columns = ['0','2561','2562','2563','2564','2565']
    except:
        try:
            all_stock_dict[key][0].columns = ['0','2562','2563','2564','2565']
        except:
            try:
                all_stock_dict[key][0].columns = ['0','2563','2564','2565']
            except:
                try:
                    all_stock_dict[key][0].columns = ['0','2564','2565']
                except:
                    all_stock_dict[key][0].columns = ['0','2565']

In [148]:
#eps กำไรต่อหุ้น (บาท)
#dividendYeild อัตราส่วนเงินปันผลตอบแทน
#earningsYield = eps/ราคาหุ้นในตอนนั้น
# 2019 = 2562

setcombined_df_2019 = pd.DataFrame(index=all_stock_dict.keys(),columns=['eps','dividendYeild','earningsYield'])

In [174]:
import numpy as np

In [191]:
n_df = 0
selectcol = '2562'
selectrow = 8

for key in all_stock_dict.keys():
    try:
        setcombined_df_2019.loc[key,['eps']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
        # print(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        setcombined_df_2019.loc[key,['eps']] = np.nan
    except ValueError:
         setcombined_df_2019.loc[key,['eps']] = np.nan

In [192]:
# dividenyeild
n_df = 1
selectcol = '30 ธ.ค. 2562'
selectrow = 6

for key in all_stock_dict.keys():
    try:
        setcombined_df_2019.loc[key,['dividendYeild']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
        # print(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        setcombined_df_2019.loc[key,['dividendYeild']] = np.nan
    except ValueError:
         setcombined_df_2019.loc[key,['dividendYeild']] = np.nan

In [199]:
# earningyeild
eps_df = 0
eps_selectcol = '2562'
eps_selectrow = 8

pr_df = 1
pr_selectcol = '30 ธ.ค. 2562'
pr_selectrow = 0 #'ราคาล่าสุด (บาท)'

for key in all_stock_dict.keys():
    try:
        setcombined_df_2019.loc[key,['earningsYield']] = float(all_stock_dict[key][eps_df][eps_selectcol][eps_selectrow])/float(all_stock_dict[key][pr_df][pr_selectcol][pr_selectrow])
    except KeyError:
        setcombined_df_2019.loc[key,['earningsYield']] = np.nan
    except ValueError:
         setcombined_df_2019.loc[key,['earningsYield']] = np.nan

In [232]:
# roa
n_df = 0
selectcol = '2562'
selectrow = 10

for key in all_stock_dict.keys():
    try:
        df2019roa.loc[key,['roa']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        df2019roa.loc[key,['roa']] = np.nan
    except ValueError:
        df2019roa.loc[key,['roa']] = np.nan

In [237]:
# roa2020
n_df = 0
selectcol = '2563'
selectrow = 10

for key in all_stock_dict.keys():
    try:
        df2020roa.loc[key,['roa']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        df2020roa.loc[key,['roa']] = np.nan
    except ValueError:
        df2020roa.loc[key,['roa']] = np.nan

In [238]:
# roa2021
n_df = 0
selectcol = '2564'
selectrow = 10

for key in all_stock_dict.keys():
    try:
        df2021roa.loc[key,['roa']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        df2021roa.loc[key,['roa']] = np.nan
    except ValueError:
        df2021roa.loc[key,['roa']] = np.nan

In [206]:
setcombined_df_2020 = pd.DataFrame(index=all_stock_dict.keys(),columns=['eps','dividendYeild','earningsYield'])

n_df = 0
selectcol = '2563'
selectrow = 8

for key in all_stock_dict.keys():
    try:
        setcombined_df_2020.loc[key,['eps']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
        # print(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        setcombined_df_2020.loc[key,['eps']] = np.nan
    except ValueError:
         setcombined_df_2020.loc[key,['eps']] = np.nan

In [208]:
# dividenyeild
n_df = 1
selectcol = '30 ธ.ค. 2563'
selectrow = 6

for key in all_stock_dict.keys():
    try:
        setcombined_df_2020.loc[key,['dividendYeild']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
        # print(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        setcombined_df_2020.loc[key,['dividendYeild']] = np.nan
    except ValueError:
         setcombined_df_2020.loc[key,['dividendYeild']] = np.nan

In [210]:
# earningyeild
eps_df = 0
eps_selectcol = '2563'
eps_selectrow = 8

pr_df = 1
pr_selectcol = '30 ธ.ค. 2563'
pr_selectrow = 0 #'ราคาล่าสุด (บาท)'

for key in all_stock_dict.keys():
    try:
        setcombined_df_2020.loc[key,['earningsYield']] = float(all_stock_dict[key][eps_df][eps_selectcol][eps_selectrow])/float(all_stock_dict[key][pr_df][pr_selectcol][pr_selectrow])
    except KeyError:
        setcombined_df_2020.loc[key,['earningsYield']] = np.nan
    except ValueError:
         setcombined_df_2020.loc[key,['earningsYield']] = np.nan

In [216]:
setcombined_df_2021 = pd.DataFrame(index=all_stock_dict.keys(),columns=['eps','dividendYeild','earningsYield'])

n_df = 0
selectcol = '2564'
selectrow = 8

for key in all_stock_dict.keys():
    try:
        setcombined_df_2021.loc[key,['eps']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
        # print(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        setcombined_df_2021.loc[key,['eps']] = np.nan
    except ValueError:
         setcombined_df_2021.loc[key,['eps']] = np.nan

In [217]:
# dividenyeild
n_df = 1
selectcol = '30 ธ.ค. 2564'
selectrow = 6

for key in all_stock_dict.keys():
    try:
        setcombined_df_2021.loc[key,['dividendYeild']] = float(all_stock_dict[key][n_df][selectcol][selectrow])
        # print(all_stock_dict[key][n_df][selectcol][selectrow])
    except KeyError:
        setcombined_df_2021.loc[key,['dividendYeild']] = np.nan
    except ValueError:
         setcombined_df_2021.loc[key,['dividendYeild']] = np.nan

In [218]:
# earningyeild
eps_df = 0
eps_selectcol = '2564'
eps_selectrow = 8

pr_df = 1
pr_selectcol = '30 ธ.ค. 2564'
pr_selectrow = 0 #'ราคาล่าสุด (บาท)'

for key in all_stock_dict.keys():
    try:
        setcombined_df_2021.loc[key,['earningsYield']] = float(all_stock_dict[key][eps_df][eps_selectcol][eps_selectrow])/float(all_stock_dict[key][pr_df][pr_selectcol][pr_selectrow])
    except KeyError:
        setcombined_df_2021.loc[key,['earningsYield']] = np.nan
    except ValueError:
         setcombined_df_2021.loc[key,['earningsYield']] = np.nan

In [219]:
setcombined_df_2021.dropna(inplace=True)

In [222]:
setcombined_df_2021.to_excel('setcombined_df_2021.xlsx')

In [213]:
setcombined_df_2020.dropna(inplace=True)

In [215]:
setcombined_df_2020.to_excel('setcombined_df_2020.xlsx')

In [202]:
setcombined_df_2019 = setcombined_df_2019.dropna()

In [205]:
setcombined_df_2019.to_excel('setcombined_df_2019.xlsx')

In [229]:
df2019roa = pd.read_excel('D:\Python lecture\setcombined_df_2019.xlsx',index_col=0)

          eps  dividendYeild  earningsYield
ADVANC  10.49           3.32       0.049249
AEONTS  15.90           2.46       0.083246
AMATA    1.63           1.99       0.081095
AOT      1.75           1.41       0.023569
AP       0.98           5.37       0.131544
...       ...            ...            ...
TTA      0.31           1.13       0.069820
TTB      0.15           1.90       0.089286
TU       0.80           2.96       0.059259
VGI      0.17           0.98       0.017801
WHA      0.22           2.10       0.056701

[79 rows x 3 columns]

In [235]:
df2019roa

          eps  dividendYeild  earningsYield    roa
ADVANC  10.49           3.32       0.049249  14.54
AEONTS  15.90           2.46       0.083246   7.71
AMATA    1.63           1.99       0.081095   8.16
AOT      1.75           1.41       0.023569  16.73
AP       0.98           5.37       0.131544   7.20
...       ...            ...            ...    ...
STARK     NaN            NaN            NaN  13.25
STGT      NaN            NaN            NaN   6.90
SUPER     NaN            NaN            NaN   7.88
TIDLOR    NaN            NaN            NaN    NaN
TIPH      NaN            NaN            NaN    NaN

[100 rows x 4 columns]

In [236]:
df2020roa = pd.read_excel('D:\Python lecture\setcombined_df_2020.xlsx',index_col=0)
df2021roa = pd.read_excel('D:\Python lecture\setcombined_df_2021.xlsx',index_col=0)

In [239]:
df2020roa

          eps  dividendYeild  earningsYield    roa
ADVANC   9.23           4.17       0.052443  12.02
AEONTS  14.76           2.46       0.072709   7.38
AMATA    1.02           2.56       0.062577   5.23
AOT      0.30           0.31       0.004819   3.22
AP       1.34           5.52       0.184828   8.99
...       ...            ...            ...    ...
SCGP      NaN            NaN            NaN   6.26
STARK     NaN            NaN            NaN  13.50
STGT      NaN            NaN            NaN  56.94
TIDLOR    NaN            NaN            NaN   7.88
TIPH      NaN            NaN            NaN    NaN

[100 rows x 4 columns]

In [240]:
df2021roa

          eps  dividendYeild  earningsYield    roa
ACE      0.15           1.37       0.042857   9.95
ADVANC   9.05           3.01       0.039348  10.91
AEONTS  14.21           2.39       0.075385   7.11
AMATA    1.22           1.39       0.058095   6.55
AP       1.44           4.71       0.150785   9.51
...       ...            ...            ...    ...
SCB       NaN            NaN            NaN    NaN
SPRC      NaN            NaN            NaN  11.64
STARK     NaN            NaN            NaN  13.46
TIDLOR    NaN            NaN            NaN   8.47
TIPH      NaN            NaN            NaN   4.52

[100 rows x 4 columns]

In [241]:
df2019roa.to_excel('df2019roa.xlsx')
df2020roa.to_excel('df2020roa.xlsx')
df2021roa.to_excel('df2021roa.xlsx')

ทำเป็นฟังก์ชัน

In [23]:
def get_stock_data(stock,driver,all_stock_dict):
    stock = stock.split()[0]
    url = 'https://www.set.or.th/th/market/product/stock/quote/'+stock+'/financial-statement/company-highlights'
    driver.get(url)
    stock_data = driver.page_source
    a_df = pd.read_html(stock_data)[0]
    a_df = a_df.rename_axis(stock)
    b_df = pd.read_html(stock_data)[1]
    b_df = b_df.rename_axis(stock)
    all_stock_dict[stock] = [a_df,b_df]
    return driver,all_stock_dict